@{
    ViewBag.Title = "AjaxHome";
}

<h2>Ajax search Demo</h2>


<h2>AjaxSearch</h2>

@using (Ajax.BeginForm("Search", "Album", new AjaxOptions
                                                {InsertionMode = InsertionMode.Replace,
                                                    HttpMethod = " GET", 
                                                    OnFailure = "searchFailed", 
                                                    LoadingElementId = "ajax-loader",
                                                    UpdateTargetId = "searchresults",}))
{
    <input type= "text" name ="q" />
    <input type = "submit" value = " search" />
    <img id="ajax-loader" src="~/Images/ajax-loader.gif" style = "display: none" />
}



<div id="searchresults"></div>

<script type="text/javascript">
    function searchFailed() {
         $("#searchresults").html(" Sorry, there was a problem with the search.");
    }
</script>
